BasedOnStyle: LLVM

# 预处理指令缩进
IndentPPDirectives: AfterHash

# 允许短句在同一行
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortEnumsOnASingleLine: true

ColumnLimit: 100

# 连续声明对齐
AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 0
# AlignConsecutiveDeclarations: true

# 模板声明断行
AlwaysBreakTemplateDeclarations: Yes

# 打包参数
BinPackArguments: true
BinPackParameters: true

# 大括号断行
# BreakBeforeBraces: Allman

# 移除访问修饰符之后所有的空行
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: Leave

# include块风格
IncludeBlocks: Regroup
SortIncludes: Never

SortUsingDeclarations: Never

# 打包构造函数初始化列表
PackConstructorInitializers: BinPack

# 指针和引用对齐
PointerAlignment: Left
ReferenceAlignment: Left

# 分离定义语句块
SeparateDefinitionBlocks: Always

# 缩进长度
IndentWidth: 4
TabWidth: 4
AccessModifierOffset: -4

# 最大空行数量
MaxEmptyLinesToKeep: 3
